install

# for too new hardware
unsupported_hardware

text
skipx
cdrom

firewall --disabled
selinux --disabled
firstboot --disabled

lang en_US.UTF-8
keyboard uk
timezone Europe/London

zerombr
clearpart --all --initlabel
part /boot --size=250
part swap --hibernation
part / --size=3000 --grow

rootpw vagrant
authconfig --enableshadow --passalgo=sha512
user --name=vagrant --groups=vagrant --password=vagrant

reboot

%packages
@core
-*firmware
-efibootmgr
-audit*
-libX*
-fontconfig
-freetype
%end

%post
echo 'vagrant             ALL=(ALL)   NOPASSWD: ALL' >> /etc/sudoers.d/vagrant
echo 'Defaults:vagrant    env_keep += SSH_AUTH_SOCK' >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
sed -i 's/^.*requiretty/#Defaults requiretty/' /etc/sudoers
sed -i 's/rhgb //' /etc/default/grub
grub2-mkconfig -o /boot/grub2/grub.cfg
%end
